## Data Structures

- List
- Dictionary
- Tuple
- Set

In [2]:
names= ['Harry','Bob','Robbin']

In [7]:
info= ['jim',28,78.5]

In [8]:
info[0]

'jim'

In [9]:
names[-1]

'Robbin'

In [10]:
info[:2]

['jim', 28]

In [16]:
info_dct={
    'name':'jim',
    'age':28,
    'weight':78.5
}

In [17]:
info_dct['name']

'jim'

In [18]:
info_dct['age']

28

# Tuple

In [19]:
ip_adress=('192.168.56.12','192.168.1.1')

In [20]:
ip_adress[-1]

'192.168.1.1'

In [21]:
names

['Harry', 'Bob', 'Robbin']

In [23]:
names.append('asta')

In [24]:
names

['Harry', 'Bob', 'Robbin', 'asta']

In [25]:
city='kathmandu'

In [26]:
names[0]

'Harry'

In [27]:
names[0]='jack'

In [28]:
names

['jack', 'Bob', 'Robbin', 'asta']

In [29]:
address={0}=12

SyntaxError: can't assign to literal (<ipython-input-29-8582966f914b>, line 1)

In [30]:
info_dct['name']='Gordon'

In [31]:
info-dct

NameError: name 'dct' is not defined

In [32]:
info_dct

{'age': 28, 'name': 'Gordon', 'weight': 78.5}

In [33]:
city

'kathmandu'

In [34]:
city[0]

'k'

In [35]:
city='P'+city[1:]

In [36]:
city

'Pathmandu'

In [43]:
numbers={56,12,89,9,12,8,7,7,5,4,4,22,9,8,7,5,4}

In [116]:
numbers

{22, 33, 43, 44, 55, 89, 99}

In [45]:
list(numbers)

[4, 5, 7, 8, 9, 12, 22, 56, 89]

In [46]:
([56,12,89,9,12,8,7,7,5,4,4,22,9,8,7,5,4])

[56, 12, 89, 9, 12, 8, 7, 7, 5, 4, 4, 22, 9, 8, 7, 5, 4]

In [47]:
info=['Bruce wayyne',15,('Goham','Wayyne Manner')]

In [48]:
info[2][0]

'Goham'

In [49]:
info[1]

15

In [50]:
numbers=(192,168,52,37,[43,56,78])

In [52]:
numbers[4][0]

43

In [53]:
numbers [4][0]=22

In [54]:
numbers

(192, 168, 52, 37, [22, 56, 78])

In [55]:
info.append('robbin')

In [56]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner'), 'robbin']

In [57]:
info.insert

In [58]:
help(info.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [59]:
info.insert(1,'hello')

In [60]:
info

['Bruce wayyne', 'hello', 15, ('Goham', 'Wayyne Manner'), 'robbin']

In [61]:
info.pop()

'robbin'

In [62]:
info

['Bruce wayyne', 'hello', 15, ('Goham', 'Wayyne Manner')]

In [63]:
info.pop(1)

'hello'

In [64]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner')]

In [65]:
info.append('robbin')

In [66]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner'), 'robbin']

In [67]:
len(info)

4

In [68]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [69]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner'), 'robbin']

In [72]:
info.remove('robbin')

In [73]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner')]

In [74]:
9type([])

list

In [77]:
type (a)

NameError: name 'a' is not defined

In [78]:
(1,)

(1,)

In [79]:
([])

[]

In [80]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner')]

In [81]:
info.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [82]:
fruits=['apple','orange','banana']

In [83]:
fruits.sort()

In [84]:
fruits

['apple', 'banana', 'orange']

In [86]:
fruits.reverse()

In [87]:
fruits

['apple', 'banana', 'orange']

In [88]:
for item in info:
    print(item)

Bruce wayyne
15
('Goham', 'Wayyne Manner')

In [89]:
item

('Goham', 'Wayyne Manner')

In [90]:
for each in numbers:
    print (each)

192
168
52
37
[22, 56, 78]

In [91]:
for char in city:
    print(char)

P
a
t
h
m
a
n
d
u

In [94]:
for item in info_dct:
    print(item,info_dct[item])

name Gordon
age 28
weight 78.5

In [97]:
numbers.index(192)

0

In [98]:
info.extend([4,5,6])

In [99]:
info

['Bruce wayyne', 15, ('Goham', 'Wayyne Manner'), 4, 5, 6]

In [100]:
info.extend('hello')

In [101]:
info

['Bruce wayyne',
 15,
 ('Goham', 'Wayyne Manner'),
 4,
 5,
 6,
 'h',
 'e',
 'l',
 'l',
 'o']

In [102]:
info_dct

{'age': 28, 'name': 'Gordon', 'weight': 78.5}

In [105]:
info_dct.update(
{'a':8,
 'b':9, 
})

In [106]:
info

['Bruce wayyne',
 15,
 ('Goham', 'Wayyne Manner'),
 4,
 5,
 6,
 'h',
 'e',
 'l',
 'l',
 'o']

In [107]:
info_dct

{'a': 8, 'age': 28, 'b': 9, 'name': 'Gordon', 'weight': 78.5}

In [108]:
dir{numbers}

SyntaxError: invalid syntax (<ipython-input-108-34410657413d>, line 1)

In [110]:
numbers

(192, 168, 52, 37, [22, 56, 78])

In [111]:
numbers={43,22,33,44,55,89}

In [112]:
numbers

{22, 33, 43, 44, 55, 89}

In [113]:
numbers.add(99)

In [114]:
numbers

{22, 33, 43, 44, 55, 89, 99}

In [115]:
numbers.intersection({22,44,99})

{22, 44, 99}

In [117]:
int(true)

NameError: name 'true' is not defined

In [118]:
int(True)

1

In [119]:
0

0

In [120]:
None