In [1]:
#simple program to add tow numbers
a=4
b=5
c=a+b
print (c)

9

**Breakdown**

In [3]:
a=4

In [4]:
a

4

**a** is a variable,variable can be termed as bucket which holds a given value.
so as b

In [5]:
c=a+b
c

9

In [6]:
c=4+7
c

11

The valueof c is computed by adding value **a** and **b**

    Functions

In [14]:
def add(a,b):
    return a + b

**def** means define a function named add, for which which we will give two values and that will return a value.

In [15]:
add(4, 7)

11

In [16]:
c= add(5,6)
print (c)

11

-Above stores the return value in **c** and prints the value.

In [17]:
def add(a,b):
    return a+b

In [18]:
add(88,99)

187

In [19]:
add(5.7,7)

12.7

-7 is an integer
-5.7 is a float

In [23]:
a = 5
b = 6.9

In [24]:
a= 5.5

In [25]:
a

5.5

In [26]:
int (5.5)

5

In [27]:
float(4)

4.0

In [28]:
'a'

'a'

In [29]:
'6'

'6'

In [30]:
"this is test"

'this is test'

In [31]:
'''this is same text with 
new line'''

'this is same text with \nnew line'

Scope

In [34]:
result =6
Second= 9
def add_two(first,second):
    result=first+Second
    print("inner",result)
    return result

add_two(8,3)
print("outer",result)
abc=add_two(8,5)
print (abc)

inner 17
outer 6
inner 17
17

In [35]:
'5'

'5'

In [36]:
'5'+'6'

'56'

In [37]:
5.5-2

3.5

In [38]:
3*2

6

In [39]:
'a'*5

'aaaaa'

In [40]:
'a'*'5'

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
3 **3

27

In [42]:
5/2

2.5

- real division

In [43]:
5//2

2

In [44]:
5 %2

1

- Remainder operator

In [45]:
'5'+str(5)

'55'

In [46]:
5 + int('5')

10

In [47]:
5//2.0

2.0